@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #111;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 10px;
}
/* INNER */
.inner {
  margin: auto;
  width: calc(100% - 10%);
  /* background-color: rgb(105, 172, 46); */
}
/* 헤더 */
.header {
  margin: auto;
  width: 100%;
  height: 120px;
  max-width: 1920px;
  background-color: #fff;
}
.header-inner {
  position: relative;
  width: calc(100% - 5%);
  height: 100%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  /* background-color: aqua; */
}
/* 메뉴 */
.menu span {
  font-size: 2.5rem;
  cursor: pointer;
}

/* 메뉴 리스트 */
.menu-list {
  position: absolute;
  top: 120px;
  width: 594px;
  height: 400px;
  gap: 2px;
  display: flex;
  font-size: 2rem;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9;
  /* display: none; */
}
.menu-list::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 2px;
  height: 360px;
  background-color: #fff;
}
.menu-product {
  width: 50%;
  padding: 15px;
}
.menu-etc {
  width: 50%;
  padding: 15px;
}
.menu span:hover + .menu-list {
  display: block;
}
/* 로고 */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 마이페이지 */
.mypage-menu {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  text-transform: uppercase;
}
/* VISUAL */
.visual-slide {
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.visual-slide .swiper-slide img {
  width: 100%;
  height: 100%;
  aspect-ratio: auto;
  object-fit: cover;
}
/* EARRING */
.earring {
  position: relative;
  margin: 100px 0 200px 0;
  width: 100%;
  /* height: 700px; */
  /* max-width: 1435px;
  margin: auto; */
  /* height: 740px; */
  /* overflow: hidden; */
}
/* TITLE */
.earring-title {
  padding: 15px 0;
}
.earring-title a {
  font-size: 5rem;
}
/* PRODUCT */
.earring-product {
  width: 100%;

  /* background-color: blue; */
  display: flex;
  gap: 10px;
}
/* Slide */
.earring-slide {
  width: 50%;
  /* height: 655px; */
  height: 46vw;
}
.earring-slide a {
  width: 100%;
  height: 100%;
}
.earring-slide a img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.earring-slide .swiper-pagination-bullet-active {
  background-color: #eee;
}

/* Item */
.earring-item {
  position: relative;
  width: 50%;
  /* background-color: aqua; */
  /* height: 100%; */
  /* display: flex; */
}
.earring-item ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
}
.earring-item ul li {
  width: calc((100% - 10px) / 2);
  /* 높이 주기 */
  height: calc(50% -5px);
}
.earring-item ul li a {
  position: relative;
  width: 100%;
  height: 100%;
}
.earring-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-fit: contain; */
}
.earring-item .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  padding: 45% 0;
  font-size: 3rem;
  opacity: 0;
  transition: all 0.5s;
}
.earring-item ul li:hover .caption {
  opacity: 1;
}

/* aboutA */
.aboutA {
  position: relative;
  width: 100%;
  height: 41.6vw;
  margin-bottom: 200px;
  /* background: url("../images/about/about1-pc.jpg") no-repeat;
  background-size: cover; */
}
/* aboutA 배경이미지 */
.aboutA-pc {
  width: 100%;
  display: block;
  object-fit: cover;
}
.aboutA-tablet,
.aboutA-mobile {
  display: none;
}
.aboutA-txt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.aboutA-txt h1 {
  margin: 50px 0;
  font-size: 4.5rem;
}
.aboutA-txt p {
  font-size: 4rem;
  line-height: 1.2;
}
/* RING */
.ring {
  width: 100%;
  height: 1000px;
  margin-bottom: 200px;
}
.ring-inner {
  display: flex;
  height: 100%;
}
.ring-product {
  width: 60%;
  height: 54vw;
}
.ring-viewMore {
  position: relative;
  /* text-align: center; */
  width: 40%;
  height: 100%;
  /* background-color: aquamarine; */
}
.ring-viewMore h1 {
  position: absolute;
  top: 25%;
  right: 50%;
  transform: translate(50%, -25%);
  font-weight: normal;
  font-size: 10rem;
  letter-spacing: 10rem;
  text-indent: 10rem;
  z-index: 1;
}
.ring-img {
  width: 100%;
  height: 54vw;
  position: absolute;
  top: 10%;
  left: 0;
}
button.viewMore {
  width: 75%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 0;
  font-size: 4rem;
  letter-spacing: 1rem;
  text-indent: 1rem;
  color: #000000;
  font-weight: normal;
  background-color: #fff;
  border: 0.1rem solid #000000;
  border-radius: 0.4rem;
  transition: all 0.3s;
}
button.viewMore:active {
  background-color: #000000;
  color: #fff;
}

/* acc */
.acc {
  width: 100%;
  height: 960px;
  margin-bottom: 200px;
}
.acc-inner {
  width: 100%;
  display: flex;
}
/* necklace */
.necklace {
  width: 50%;
  background-color: #f4f4f4;
}
.necklace ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.necklace ul li {
  width: 50%;
  height: 50%;
}
.necklace ul li {
  position: relative;
}
.necklace ul li a img {
  display: block;
  width: 100%;
}
.necklace .acc-title {
  position: absolute;
  bottom: 10%;
  right: 2%;
  font-size: 5rem;
}
/* keyring */
.keyring {
  width: 50%;
  background-color: #f4f4f4;
}
.keyring ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.keyring ul li {
  position: relative;
  width: 50%;
  height: 50%;
}
.keyring ul li img {
  display: block;
  width: 100%;
}
.keyring .acc-title {
  position: absolute;
  bottom: 10%;
  left: 2%;
  font-size: 5rem;
}
/* 상품정보 */
.acc-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 45% 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  color: #000000;
  font-size: 2.5rem;
opacity: 0;
  transition: all 0.5s;
}
.necklace li:hover .acc-caption{
opacity: 1;
}
.keyring li:hover .acc-caption{
opacity: 1;
}


/* aboutB */
.aboutB {
  position: relative;
  width: 100%;
  height: 41.6vw;
  margin-bottom: 200px;
  overflow: hidden;
}
.aboutB::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.35);
  content: "";
}
.aboutB img {
  width: 100%;
  object-fit: cover;
}
.aboutB-logo {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 17%;
  z-index: 1;
}
.aboutB-logo img {
  filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.25));
}
.aboutB-caption {
  width: 55%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 1;
}
.aboutB-caption img {
  width: 100%;
}
.about-creativity {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 12%;
  gap: 15%;
}

.about-durability {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15%;
}
.aboutB-txt {
  font-size: 2.5rem;
}
.aboutB-txt h1{
  font-weight: 500;
  margin-bottom: 5%;
  color: #fff;
}
.aboutB-txt p{
  color: #fff;
  white-space: nowrap;
}