@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #111;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 7.5px;
  color: #333;
}
/* go to top */
.top-btn {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 5%;
  bottom: 8%;
  font-size: 20px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  border: 1px solid #404040;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.15s;
}
.top-btn:hover {
  opacity: 1;
}
/* INNER */
.inner {
  margin: auto;
  width: calc(100% - 10%);
  /* background-color: rgb(105, 172, 46); */
}
/* 헤더 */
.header {
  margin: auto;
  width: 100%;
  height: 120px;
  max-width: 1920px;
  background-color: #fff;
}
.header-inner {
  position: relative;
  width: calc(100% - 5%);
  height: 100%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  /* background-color: aqua; */
}
/* 메뉴 */
.menu span {
  font-size: 2.5rem;
  cursor: pointer;
}

/* 메뉴 리스트 */
.menu-list {
  display: none;
  position: absolute;
  top: 120px;
  width: 594px;
  height: 400px;
  gap: 2px;
  display: flex;
  font-size: 2.5rem;
  line-height: 1.65;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9;
  /* opacity: 0; */
  /* transition: all 0.1s; */
}
.menu-list::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 2px;
  height: 360px;
  background-color: #fff;
}
.menu-product {
  width: 50%;
  padding: 15px;
}
.menu-etc {
  width: 50%;
  padding: 15px;
}
.menu-list a {
  transition: all 0.3s;
}
.menu-list a:hover {
  color: #fff;
  font-weight: 400;
}
/* .menu span:hover + .menu-list {
  opacity: 1;
} */
/* 로고 */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo img {
  width: 100%;
  height: 100%;
}
/* 마이페이지 */
.mypage-menu {
  width: 220px;
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  text-transform: uppercase;
}
#mypage-mobile{
  display: none;
}
/* VISUAL */
.visual-slide {
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.visual-slide .swiper-slide img {
  width: 100%;
  height: 100%;
  aspect-ratio: auto;
  object-fit: cover;
}
/* EARRING */
.earring {
  position: relative;
  margin: 100px 0 200px 0;
  width: 100%;
  /* height: 700px; */
  /* max-width: 1435px;
  margin: auto; */
  /* height: 740px; */
  /* overflow: hidden; */
}
.earring-inner {
  position: relative;
  display: block;
}
/* TITLE */
.earring-title {
  padding: 15px 0;
}
/* .earring-title::after {
  position: absolute;
  top: 67px;
  left: 210px;
  content: "";
  width: 220px;
  height: 2px;
  background-color: #111;
} */
.earring-title a {
  font-size: 5rem;
}
/* PRODUCT */
.earring-product {
  width: 100%;

  /* background-color: blue; */
  display: flex;
  gap: 10px;
}
/* Slide */
.earring-slide {
  width: 50%;
  /* height: 655px; */
  height: 46vw;
}
.earring-slide a {
  width: 100%;
  height: 100%;
}
.earring-slide a img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.earring-slide .swiper-pagination-bullet-active {
  background-color: #eee;
}

/* Item */
.earring-item {
  position: relative;
  width: 50%;
  /* background-color: aqua; */
  /* height: 100%; */
  /* display: flex; */
}
.earring-item ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
}
.earring-item ul li {
  width: calc((100% - 10px) / 2);
  /* 높이 주기 */
  height: calc(50% -5px);
}
.earring-item ul li a {
  position: relative;
  width: 100%;
  height: 100%;
}
.earring-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-fit: contain; */
}
.earring-item .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  padding: 45% 0;
  font-size: 3rem;
  opacity: 0;
  transition: all 0.5s;
}
.earring-item ul li:hover .caption {
  opacity: 1;
}

/* aboutA */
.aboutA {
  position: relative;
  width: 100%;
  height: 41.6vw;
  margin-bottom: 200px;
  /* background: url("../images/about/about1-pc.jpg") no-repeat;
  background-size: cover; */
}
/* aboutA 배경이미지 */
.aboutA-pc {
  width: 100%;
  display: block;
  object-fit: cover;
}
.aboutA-tablet,
.aboutA-mobile {
  display: none;
}
.aboutA-txt {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  text-align: center;
}
.aboutA-txt img {
  width: 180px;
}
.aboutA-txt h1 {
  margin: 50px 0 30px 0;
  letter-spacing: 0.01px;
  font-size: 3.5rem;
}
.aboutA-txt p {
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: 0.1px;
}
/* RING */
.ring {
  width: 100%;
  height: 70vw;
  max-height: 1000px;
  margin-bottom: 200px;
}
.ring-inner {
  display: flex;
}
.ring-product {
  width: 60%;
  height: 54vw;
}
.ring-viewMore {
  position: relative;
  width: 40%;
  height: 54vw;
  /* background-color: aquamarine; */
  overflow: hidden;
}
.ring-viewMore h1 {
  width: 100%;
  position: absolute;
  top: 25%;
  right: 50%;
  transform: translate(50%, -25%);
  font-weight: normal;
  font-size: 4vw;
  letter-spacing: 4vw;
  text-indent: 4vw;
  text-align: center;
  z-index: 1;
}
.ring-img {
  width: 100%;
  height: 54vw;
  position: absolute;
  top: 10%;
  left: 0;
}
button.viewMore {
  width: 75%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 0;
  font-size: 2rem;
  letter-spacing: 1vw;
  text-indent: 1vw;
  color: #000000;
  font-weight: normal;
  background-color: #fff;
  border: 0.1rem solid #000000;
  border-radius: 0.4rem;
  transition: all 0.3s;
}
button.viewMore:active {
  background-color: #000000;
  color: #fff;
}

/* acc */
.acc {
  width: 100%;
  height: 50vw;
  margin-bottom: 200px;
}
.acc-inner {
  width: 100%;
  display: flex;
}
.line {
  width: 80%;
  height: 3px;
  background-color: #ffffffca;
}

/* necklace */
.necklace {
  width: 50%;
  background-color: #f4f4f4;
}
.necklace ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.necklace ul li {
  position: relative;
  width: 50%;
  height: 50%;
  transition: all 1s;
}
.necklace ul li a img {
  display: block;
  width: 100%;
}
.necklace .acc-title {
  position: absolute;
  bottom: 10%;
  right: 2%;
  font-size: 6rem;
  transition: all 1s;
}
.necklaceline {
  position: absolute;
  height: 0.5rem;
  bottom: 8%;
  right: -100%;
  opacity: 0;
  /* animation: neckline linear 1s */
}
@keyframes neckline {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
.necklace li:nth-child(2):hover .necklaceline {
  animation: neckline linear 0.6s forwards;
}
.necklace li:nth-child(2):hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.necklace li:nth-child(2):hover .acc-title {
  color: #fff;
}
/* .necklace .acc-title::after{
  position: absolute;
  top: 67px;
  right: -10px;
  content: "";
  width: 35rem;
  height: 2px;
  background-color: #111;
} */
/* keyring */
.keyring {
  width: 50%;
  background-color: #f4f4f4;
}
.keyring ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.keyring ul li {
  position: relative;
  width: 50%;
  height: 50%;
}
.keyring ul li img {
  display: block;
  width: 100%;
}
.keyring .acc-title {
  position: absolute;
  bottom: 10%;
  left: 2%;
  font-size: 6rem;
  transition: all 1s;
}
.keyringline {
  position: absolute;
  height: 0.5rem;
  bottom: 8%;
  left: -100%;
  opacity: 0;
}
@keyframes keyline {
  0% {
    left: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.keyring li:nth-child(3):hover .keyringline {
  animation: keyline linear 0.6s forwards;
}
/* .keyring .acc-title::after {
  position: absolute;
  top: 67px;
  left: -8px;
  content: "";
  width: 35rem;
  height: 2px;
  background-color: #111;
} */

.keyring li:nth-child(3):hover {
  background-color: rgba(0, 0, 0, 0.35);
}
.keyring li:nth-child(3):hover .acc-title {
  color: #fff;
}
/* 상품정보 */
.acc-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 45% 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  color: #000000;
  font-size: 3rem;
  opacity: 0;
  transition: all 0.5s;
}
.necklace li:hover .acc-caption {
  opacity: 1;
}
.keyring li:hover .acc-caption {
  opacity: 1;
}

/* aboutB */
.aboutB {
  position: relative;
  width: 100%;
  height: 41.6vw;
  margin-bottom: 200px;
  overflow: hidden;
}
.aboutB-inner {
  padding: 5% 0;
  display: flex;
  justify-content: space-around;
}
.aboutB::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  content: "";
  /* z-index: -1; */
}
.aboutB img {
  width: 100%;
  object-fit: cover;
}
.aboutB-logo {
  width: 20%;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  z-index: 1;
}

.aboutB-logo img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.25));
}
.aboutB-logoB {
  width: 15%;
  min-width: 50px;
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
}
.aboutB-logoB img {
  display: block;
  width: 100%;
}
.aboutB-caption {
  width: 55%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 1;
}
.aboutB-caption img {
  min-width: 100px;
  width: 100%;
}
.about-creativity {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 12%;
  gap: 8%;
}

.about-durability {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8%;
}

.aboutB-txt h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 5%;
  color: #fff;
}
.aboutB-txt p {
  font-size: 2.5rem;
  color: #fff;
  /* white-space: nowrap; */
}

/* REVIEW */
.review {
  width: 100%;
  padding-left: 5%;
  margin-bottom: 200px;
}

.review h1 {
  font-size: 5.5rem;
  font-weight: normal;
  letter-spacing: 2rem;
  padding-bottom: 1%;
}

.review-content {
  width: 100%;
  /* height: 42vw; */
  border-radius: 2px;
  border: 1px solid #454545;
}
.review-content img {
  width: 100%;
  height: 32.8vw;
  object-fit: cover;
}
.review-txt {
  margin: 15px;
  font-size: 2rem;
}
.review-txt p {
  padding: 0 0 10px 0;
}
.review-txt .nickname {
  font-size: 2.5rem;
}
/* footer */
.footer {
  width: 100%;
  height: 31vw;
  background-color: #000000;
  color: #999;
  font-size: 1.7rem;
}
.footer-inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5%;
}
.footer span {
  font-size: 2rem;
  display: block;
  /* width: 6.5%; */
  /* filter: drop-shadow(0px 0px 2px rgb(255, 255, 255)); */
}
.footer span > a {
  color: #999;
}
.cs {
  font-size: 2rem;
  position: absolute;
  bottom: 10%;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.cs-bank{
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
