@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #111;
}
ul,
li {
  list-style: none;
}
/* INNER */
.inner {
  margin: auto;
  width: calc(100% - 10%);
  background-color: rgb(105, 172, 46);
}
/* 헤더 */
.header {
  margin: auto;
  width: 100%;
  height: 120px;
  max-width: 1920px;
  background-color: #fff;
}
.header-inner {
  position: relative;
  width: calc(100% - 5%);
  height: 100%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  /* background-color: aqua; */
}
/* 메뉴 */
.menu span {
  font-size: 25px;
  cursor: pointer;
}

/* 메뉴 리스트 */
.menu-list {
  position: absolute;
  top: 120px;
  width: 594px;
  height: 400px;
  gap: 2px;
  display: flex;
  font-size: 20px;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
}
.menu-list::before {
  position: absolute;
  left: 50%;
  content: "";
  width: 2px;
  height: 360px;
  background-color: #fff;
}
.menu-product {
  width: 50%;
  padding: 15px;
}
.menu-etc {
  width: 50%;
  padding: 15px;
}
.menu span:hover + .menu-list {
  display: block;
}
/* 로고 */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 마이페이지 */
.mypage-menu {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  text-transform: uppercase;
}
/* VISUAL */
.visual-slide {
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.visual-slide .swiper-slide img {
  width: 100%;
  height: 100%;
  aspect-ratio: auto;
  object-fit: cover;
}
/* EARRING */
.earring {
  position: relative;
  margin: 200px 0;
  width: 100%;
  /* height: 700px; */
  /* max-width: 1435px;
  margin: auto; */
  /* height: 740px; */
  /* overflow: hidden; */
}
/* TITLE */
.earring-title {
  padding: 15px 0;
}
.earring-title a {
  font-size: 50px;
}
/* PRODUCT */
.earring-product {
  width: 100%;

  /* background-color: blue; */
  display: flex;
  gap: 10px;
}
/* Slide */
.earring-slide {
  width: 50%;
  /* height: 655px; */
  height: 46vw;
}
.earring-slide a {
  width: 100%;
  height: 100%;
}
.earring-slide a img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.earring-slide .swiper-pagination-bullet-active {
  background-color: #eee;
}

/* Item */
.earring-item {
  position: relative;
  width: 50%;
  background-color: aqua;
  /* height: 100%; */
  /* display: flex; */
}
.earring-item ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
}
.earring-item ul li {
  width: calc((100% - 10px) / 2);
}
.earring-item img {
  display: block;
  width: 100%;
  height: 90%;
  object-fit: contain;
}
.earring-item .caption{
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
}
.earring-item ul li:hover .caption{

  opacity: 1;
}

/* aboutA */
.aboutA{
  position: relative;
  width: 100%;
  height: 800px;
  margin-bottom: 200px;
  background: url("../images/about/about1-pc.jpg")no-repeat;
  background-size: cover;
}
.aboutA-txt{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.aboutA-txt h1{
  margin: 50px 0;
  font-size: 45px;
}
.aboutA-txt p{
  font-size: 40px;
  line-height: 1.2;
}
/* RING */
.ring{
  width: 100%;
  height: 1000px;
}
.ring-inner{
  position: relative;
  display: block;
}
/* PRODUCT */
.ring-product{
  width: 60%;
}
/* .ring-product{
  transform: scaleX(-1);
}
.ring-back{
  display: block;
  position: absolute;
  top: -100px;right: 100px;
  scale: 0.8;
}
.ring-front{
  display: block;
  position: absolute;
  top:300px;right: 50px;
} */